doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Http Client
    link(rel="stylesheet", href="./styles/index.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
  body
    header
      h1 HttpC
      
      div
        span Key
        input(id="key" placeholder="eyJhbGciOiJIshyxUdHuszI...")
   
    main
      block content
      
    script(src="./scripts/index.js", type="module")
  body
html