* {
  color: white;
}

body {
  background: rgb(52, 52, 52);
}

main {
  max-width: 500px;
}

.tittle-seccion {
  display: block;
  width: 100%;
  background-color: #414141;
  margin: 10px auto;
  padding: 15px auto;
  text-align: center;
  font-size: 30px;
  border-block-end: 1px solid white;
  border-block-start: 1px solid white;
}

form {
  border-radius: 3px 3px;
  border: 1px solid white;
  margin-bottom: 20px;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 0 4px 3px rgb(100, 100, 100),
    0 0 3px 1px rgb(100, 100, 100);
  border-radius: 0 0 8px 8px;
}

.text-method {
  display: block;
  padding: 10px;
}

.body-container {
  padding: 10px;
  /* gap: 10px;*/
}
/*
.text-url {
  display: block;
  background-color: black;
  border-width: 0;
  border-bottom: 1px solid rgba(157,157,157,0.551);
  width: 100%;
  margin-bottom: 10px; 
}
*/
.text-url {
   width: 100%;
   border-radius: 5px 5px;
   border-width: 0;
   border-bottom: 2px solid rgba(157,157,157,0.551);
   height: auto;
   margin: 0;
   outline: 0;
   padding: 2px;
   box-sizing: border-box;
   background-color: black;
   backdrop-filter: blur(5px);
   box-shadow: 0 1px 2px 1px rgb(0,183,241) inset, 0 1px 2px 1px rgb(3,106,255);
   margin-bottom: 10px;
}

.text-url:focus {
   border: 1px solid white;
}



.tx {
  padding: 3px;
  background-color: black;
  width: Calc(100% - 3px);
  border-radius: 5px 5px;
  border: 1px solid #ffffff;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 1px 0px #1adae8 inset, 0 0 1px 0px #1adae8;
}

.tx:focus {
  box-shadow: -1px -1px 1px 0px #1adae8 inset;
}

.btn {
  background-color: black;
  border-radius: 5px 5px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
  color: #008f99;
  box-shadow: 0 0 1px 0px #1adae8 inset, 0 0 1px 0px #1adae8;
  width: 100px;
}

.btn:active {
  box-shadow: 0 0 1px 1px #1adae8 inset, 0 0 0 0 #1adae8;
}

.box {
  border: 1px solid white;
  border-radius: 10px 10px;
  background-color: black;
}

.container-paranms {
  display: flex;
  overflow-x: none;
  overflow-y: scroll;
  flex-direction: column;
  gap: 3px;
  padding: 5px 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.content-tx-paranm {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 30px;
  grid-gap: 2px;
  align-items: center;
  margin-bottom: 10px;
}

.tx-value-paranm {
  margin-left: 3px;
}

.container-text-area {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.tx-number {
  border-radius: 5px 0 0 5px;
  border-right-width: 0;
  text-align: center;
  resize: none;
  user-select: none;
  font-size: 10px;
  width: 20px;
}

.tx-number:focus {
  box-shadow: 0 0 1px 0px #1adae8 inset;
}

.tx-body {
  border-radius: 0 5px 5px 0;
  border-right-width: 0.3px;
  border-left-style: solid;
  font-size: 10px;
  min-height: 150px;
}

.btn-submit {
  margin-bottom: 10px;
}

.conten-result {
  display: none;
  padding: 3px 0 0 0;
  box-sizing: border-box;

  flex-direction: column;
}

.text-status {
  margin-left: 5px;
  font-size: 12px;
}

.result {
  border-width: 0;
  border-top: 1px solid white;
  border-radius: 0 0 10px 10px;
  padding: 10px 10px;
  margin-top: 5px;
  box-sizing: border-box;
  overflow-x: scroll;
font-size: 10px;
  height: 200px;
  resize: none;
}
